* {
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: white;
  font-family: sans-serif;
}

.searchBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 10vh;
  margin-bottom: 20px;
}

.searchBox input {
  width: 60%;
  height: 60%;
  border-radius: 10em;
  border: none;
  outline: none;
  padding-left: 20px;
  color: black;
  font-size: medium;
}

.not_available_div{
  margin-top: 20px;
}
.location_filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
}